[submodule "broker"]
	path = broker
	url = ssh://git@dev.itworks.hu:2022/MindWeb/broker.git
[submodule "ui"]
	path = ui
	url = ssh://git@dev.itworks.hu:2022/MindWeb/ui.git
[submodule "file"]
	path = file
	url = ssh://git@dev.itworks.hu:2022/MindWeb/file.git
[submodule "storage"]
	path = storage
	url = ssh://git@dev.itworks.hu:2022/MindWeb/storage.git
[submodule "session-manager"]
	path = session-manager
	url = ssh://git@dev.itworks.hu:2022/MindWeb/session-manager.git
